p{
    color:red;
}
div{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:red;
    transition-property:all;
    transition-duration:2s;
    transition-delay:1s;
    transition-timing-function:ease-in;
    transform: translateX(0px); 
    animation-name:anie;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    
}
div:hover{
    background-color:white;
}

@keyframes anie{
    from {transform:translateX(0px);}
    to{transform:translateX(200px);}
}
@media (max-width:300px){
    div{
        background-color:palegoldenrod;
    }
}